In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ribeira Grande,PT,2021-11-30 05:19:25,38.5167,-28.7000,61.52,67,13,12.68
1,1,Yellowknife,CA,2021-11-30 05:19:26,62.4560,-114.3525,-18.58,78,1,1.99
2,2,Biloela,AU,2021-11-30 05:19:26,-24.4167,150.5000,81.27,69,98,13.44
3,3,Rikitea,PF,2021-11-30 05:19:26,-23.1203,-134.9692,76.57,79,6,20.20
4,4,Dikson,RU,2021-11-30 05:19:26,73.5069,80.5464,-12.62,96,100,12.33

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Biloela,AU,2021-11-30 05:19:26,-24.4167,150.5000,81.27,69,98,13.44
3,3,Rikitea,PF,2021-11-30 05:19:26,-23.1203,-134.9692,76.57,79,6,20.20
7,7,Ambilobe,MG,2021-11-30 05:19:27,-13.2000,49.0500,82.60,58,7,7.18
12,12,Hobart,AU,2021-11-30 05:19:28,-42.8794,147.3294,84.02,43,20,1.99
13,13,Serang,ID,2021-11-30 05:19:29,-6.1149,106.1502,87.57,86,100,4.09
19,19,Vaini,TO,2021-11-30 05:19:30,-21.2000,-175.2000,80.76,94,40,10.36
26,26,Tabuk,PH,2021-11-30 05:19:32,17.4189,121.4443,81.34,78,80,12.82
27,27,Alofi,NU,2021-11-30 05:19:32,-19.0595,-169.9187,78.69,69,21,11.50
31,31,Mogadishu,SO,2021-11-30 05:19:33,2.0371,45.3438,80.64,66,12,15.43
32,32,Kapaa,US,2021-11-30 05:19:33,22.0752,-159.3190,76.98,79,40,3.00

In [14]:
preferred_cities_df.count()

City_ID       145
City          145
Country       145
Date          145
Lat           145
Lng           145
Max Temp      145
Humidity      145
Cloudiness    145
Wind Speed    145
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
2     Biloela      AU     81.27 -24.4167  150.5000
3     Rikitea      PF     76.57 -23.1203 -134.9692
7    Ambilobe      MG     82.60 -13.2000   49.0500
12     Hobart      AU     84.02 -42.8794  147.3294
13     Serang      ID     87.57  -6.1149  106.1502
19      Vaini      TO     80.76 -21.2000 -175.2000
26      Tabuk      PH     81.34  17.4189  121.4443
27      Alofi      NU     78.69 -19.0595 -169.9187
31  Mogadishu      SO     80.64   2.0371   45.3438
32      Kapaa      US     76.98  22.0752 -159.3190

In [21]:
# # Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [22]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [23]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Biloela,AU,81.27,-24.4167,150.5000,Biloela Silo Motor Inn
3,Rikitea,PF,76.57,-23.1203,-134.9692,People ThankYou
7,Ambilobe,MG,82.60,-13.2000,49.0500,Hôtel & Restaurant DIANA Ambilobe
12,Hobart,AU,84.02,-42.8794,147.3294,Mantra on Collins Hobart
13,Serang,ID,87.57,-6.1149,106.1502,Horison Ultima Ratu
19,Vaini,TO,80.76,-21.2000,-175.2000,Keleti Beach Resort
26,Tabuk,PH,81.34,17.4189,121.4443,Golden Berries Hotel and Convention
27,Alofi,NU,78.69,-19.0595,-169.9187,Taloa Heights
31,Mogadishu,SO,80.64,2.0371,45.3438,Hotel Juba
32,Kapaa,US,76.98,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [27]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))