## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Cidreira,BR,-30.1811,-50.2056,66.29,88,8,9.86,clear sky
1,1,Lebu,CL,-37.6167,-73.6500,52.00,92,17,8.86,few clouds
2,2,Hilo,US,19.7297,-155.0900,72.63,91,40,6.91,light rain
3,3,Bathsheba,BB,13.2167,-59.5167,81.21,83,75,25.32,broken clouds
4,4,Banjar,ID,-8.1900,114.9675,76.91,89,100,2.73,light rain

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your vacation? "))
max_temp = float(input("What is the maximum temperature you would like for your vacation? "))

What is the minimum temperature you would like for your vacation? 70
What is the maximum temperature you would like for your vacation? 95

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Hilo,US,19.7297,-155.0900,72.63,91,40,6.91,light rain
3,3,Bathsheba,BB,13.2167,-59.5167,81.21,83,75,25.32,broken clouds
4,4,Banjar,ID,-8.1900,114.9675,76.91,89,100,2.73,light rain
5,5,Victoria,HK,22.2855,114.1577,71.26,37,19,1.99,few clouds
6,6,Georgetown,MY,5.4112,100.3354,87.75,74,40,4.61,scattered clouds
8,8,Rikitea,PF,-23.1203,-134.9692,76.41,76,0,20.69,clear sky
10,10,Geraldton,AU,-28.7667,114.6000,75.61,50,0,23.02,clear sky
14,14,Hobart,AU,-42.8794,147.3294,73.26,75,75,1.01,broken clouds
17,17,Daru,PG,-9.0763,143.2092,86.02,70,94,6.93,overcast clouds
19,19,Busselton,AU,-33.6500,115.3333,70.05,44,53,17.09,broken clouds

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                260
City                   260
Country                259
Lat                    260
Lng                    260
Max Temp               260
Humidity               260
Cloudiness             260
Wind Speed             260
Current Description    260
dtype: int64

In [11]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna()

In [13]:
# 4c. Check rows dropped.
preferred_cities_df.count()

City_ID                259
City                   259
Country                259
Lat                    259
Lng                    259
Max Temp               259
Humidity               259
Cloudiness             259
Wind Speed             259
Current Description    259
dtype: int64

In [15]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Hilo,US,72.63,light rain,19.7297,-155.0900,
3,Bathsheba,BB,81.21,broken clouds,13.2167,-59.5167,
4,Banjar,ID,76.91,light rain,-8.1900,114.9675,
5,Victoria,HK,71.26,few clouds,22.2855,114.1577,
6,Georgetown,MY,87.75,scattered clouds,5.4112,100.3354,
8,Rikitea,PF,76.41,clear sky,-23.1203,-134.9692,
10,Geraldton,AU,75.61,clear sky,-28.7667,114.6000,
14,Hobart,AU,73.26,broken clouds,-42.8794,147.3294,
17,Daru,PG,86.02,overcast clouds,-9.0763,143.2092,
19,Busselton,AU,70.05,broken clouds,-33.6500,115.3333,

In [16]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
# 6g. Check output.
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Hilo,US,72.63,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel
3,Bathsheba,BB,81.21,broken clouds,13.2167,-59.5167,Atlantis Hotel
4,Banjar,ID,76.91,light rain,-8.1900,114.9675,The Hamsa Resort
5,Victoria,HK,71.26,few clouds,22.2855,114.1577,Mini Hotel Central
6,Georgetown,MY,87.75,scattered clouds,5.4112,100.3354,Cititel Penang
8,Rikitea,PF,76.41,clear sky,-23.1203,-134.9692,People ThankYou
10,Geraldton,AU,75.61,clear sky,-28.7667,114.6000,Broadwater Mariner Resort
14,Hobart,AU,73.26,broken clouds,-42.8794,147.3294,Mantra on Collins Hobart
17,Daru,PG,86.02,overcast clouds,-9.0763,143.2092,Daru Lodge
19,Busselton,AU,70.05,broken clouds,-33.6500,115.3333,Observatory Guest House

In [19]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.isnull().sum()

City                   0
Country                0
Max Temp               0
Current Description    0
Lat                    0
Lng                    0
Hotel Name             0
dtype: int64

In [21]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [27]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [28]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))